<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/emotion.css">
    <script>
      var ROOM_ID = ""
      var USER_NAME = ""
      <% if(typeof roomID !== "undefined"){ %>
        ROOM_ID = "<%= roomID %>"
      <% } 
      if(typeof userName !== "undefined"){ %>
        USER_NAME = "<%= userName %>"
      <% } %>
    </script>
</head>
<body>
  <!-- modal user join -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <span class="modal-span">Ai đó muốn tham gia cuộc họp này</span>
      </div>
      <div class="modal-body">
        <img src="../images/avata.png" alt="">
        <span id="user-lounge-join">Nguyễn Minh Thắng</span>
      </div>
      <div class="modal-footer">
        <span id="btnAgree">Đồng ý</span>
        <span id="btnCancel">Hủy</span>
      </div>
    </div>
  
  </div>
  <!-- modal user join -->
    <div class="container" id="container">
      <div class="videos" id="video-grid">
          
      </div>
    </div>
    <!--  -->
    <div class="menu-top-right" id="menu-top-right">
      <div class="users-online" onclick="onpenFramesChat(1)">
        <span class="number-menu-top-right" id="number-user">1</span>
        <span class="icon-user-chat"><ion-icon name="people"></ion-icon></span>
      </div>
      <div class="chat-button" onclick="onpenFramesChat(2)">
        <span class="number-menu-top-right" id="number-chat">12</span>
        <span class="icon-user-chat"><ion-icon name="chatbox-ellipses" ></ion-icon></span>
      </div>
      <div class="time-now" id="time-now"></div>
    </div>
    <!-- khung chat -->
    <div class="chat" id="frame-users-chat">
      <div class="chat-detail">
        <div class="title-frame-users-chat">
          <h3>Chi tiết hội thảo</h3>
          <ion-icon name="close-outline" id="button-close" onclick="closeFrameUsersChat()"></ion-icon>
        </div>
        <div class="tabs">
          <div class="tabContainer">
            <div class="tabPeople" id="tabPeople">
              <span><ion-icon class="iconTab" name="people-outline"></ion-icon> Người dùng</span>
            </div>
            <div class="tabChat" id="tabChat">
              <span><ion-icon class="iconTab" name="chatbubble-ellipses-outline"></ion-icon> Trò chuyện</span>
            </div>
          </div>
          <div class="tabPanel">
            <div class="user">
              <div class="avata">
                <ion-icon name="person-circle-outline"></ion-icon>
              </div>
              <div class="user-name">Tôi</div>
              <div class="user-ghim"><ion-icon name="eyedrop-outline"></ion-icon></div>
              <div class="user-volumn"><ion-icon name="volume-high-outline"></ion-icon></div>
            </div>
          </div>
          <div class="tabPanel">
            <div class="frame-chat">
              <div id="chat-layout"></div>
              <div class="bottom-editText">
                <textarea id="editTex-chat" name="ádasd" id=""></textarea>
              </div>
              <%- include('../frontend/emotion.ejs') %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bottom hiển thị các button call mic video v.v -->
    <div class="bottom" id="div-bottom">
      <div class="share-room">
        <span><label>Chi tiết</label> <ion-icon name="chevron-up-outline" ></ion-icon></span>
      </div>
      <div class="event-video">
        <span id="button-mic"><ion-icon name="mic-outline" id="icon-mic"></ion-icon></span>
        <span id="button-call"><ion-icon name="call" id="icon-call"></ion-icon></span>
        <span id="button-videocam"><ion-icon name="videocam-outline" id="icon-videocam"></ion-icon></span>
      </div>
      <div class="action-more">
        <span id="button-presentnow"><ion-icon name="albums-outline"></ion-icon></span>
        <span id="button-ellipsis"><ion-icon name="ellipsis-vertical-outline"></ion-icon></span>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/bundle.js"></script>
</body>
</html>

